<h1>Bienvenido a NodeJS -- HTML</h1>

<div class="container p-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    Cuerpo de la tarjeta creada
                    <p>Nombre del Producto</p>
                    <p>Descripción del Producto</p>
                    <p>Precio del Producto</p>
                    <p>Imágen del Producto</p>
                </div>
            </div>
        </div>
    </div>
</div>